@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #8f2d56;
}

::-webkit-scrollbar-track {
    background: #8f2d56;
}
